.custom-header {
  background-color: #1e1e2e;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}
.custom-header .navbar-brand {
  color: #cdd6f4;
  pointer-events: none;
}
.custom-header a {
  margin: 0;
  color: #cdd6f4;
}
.navbar-nav li {
  padding-left: 40px;
}
.custom-header a:hover {
  color: #cba6f7;
}
.custom-header .navbar-nav .active-link {
  color: #f38ba8;
  font-weight: bold;
}

#stat-q a:hover {
  color:  #cba6f7!important;
}

#stat:visited {
  color:  #cdd6f4!important;
}