<div class="modal-container">
  <div class="modal-content">
    <h2 class="project-title">{{ projectTitle }}</h2>
    <div class="grid-layout">
      <div class="grid-row">
        <div class="text-part">
          <h3>Description</h3>
          <p>{{ projectDescription }}</p>
        </div>
        <div class="image-part">
          <img [src]="imageOnePath" alt="Description Image" />
        </div>
      </div>
      <div class="grid-row">
        <div class="image-part">
          <img [src]="imageTwoPath" alt="Features Image" />
        </div>
        <div class="text-part">
          <h3>{{partOneTitle}}</h3>
          <ul>
            <li *ngFor="let feature of partOneList">{{ feature }}</li>
          </ul>
        </div>
      </div>
      <div class="grid-row">
        <div class="text-part">
          <h3>{{partTwoTitle}}</h3>
          <ol>
            <li *ngFor="let step of partTwoList">{{ step }}</li>
          </ol>
        </div>
        <div class="image-part">
          <img [src]="imageThreePath" alt="How to Play Image" />
        </div>
      </div>
    </div>
    <div *ngIf="hasVideo">
      <h3>Gameplay Video</h3>
      <div class="plyr__video-embed" id="player">
        <iframe [src]="safeURL" allowfullscreen allowtransparency allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>