<nav class="navigation-container navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand"><strong>BERKE PARILDAR</strong></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/certificates">Certificates</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="https://drive.google.com/file/d/1Lm7wTAYCD--33uw9YVsIDmenpIvVCzaf/view?usp=sharing" target="_blank">Resume</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
