<div class="container contact-container">
  <h1>Contact Me</h1>
  <p>Feel free to reach out to me through email, phone, or connect with me on LinkedIn!</p>
  <div class="row contact-info">
    <div class="col-12 col-md-4 info-item">
      <i class="fas fa-envelope contact-icon"></i>
      <strong class="way">Email: </strong>
      <span>berkeparildar@gmail.com</span>
    </div>
    <div class="col-12 col-md-4 info-item">
      <i class="fas fa-phone contact-icon"></i>
      <strong class="way">Phone: </strong>
      <span>+90 542 465 5626</span>
    </div>
    <div class="col-12 col-md-4 info-item">
      <i class="fab fa-linkedin contact-icon"></i>
      <strong class="way">LinkedIn: </strong>
      <a style="text-decoration: none; color: var(--text);" href="https://www.linkedin.com/in/berkeparildar" target="_blank">https://www.linkedin.com/in/berkeparildar</a>
    </div>
  </div>
</div>