<div class="container profile-section">
    <div class="row align-items-center">
  
      <div class="col-md-3 order-md-2">
        <img src="assets\imgbg.png" alt="Photo"class="profile-image d-block mx-auto">
      </div>
    
      <div class="col-md-9 order-md-1">
        <h1>Hello! I'm <strong>Berke</strong></h1>
        <p>I graduated from Izmir University of Economics where I learnt the fundamentals of software development. I worked on and developed projects from various fields like mobile games and applications, desktop applications, and even blockchain-based systems.</p>
        <p>Below, you can find some of the projects I've worked on.</p>
        <a href="https://www.linkedin.com/in/berke-parildar/" target="_blank" class="btn btn-dark mr-2">View LinkedIn</a>
        <a href="https://github.com/berkeparildar" target="_blank" class="btn btn-light">View Github</a>
      </div>
    </div>
  </div>