<div class="container my-5">
  <div class="row">
    <div class="my-main">
      <div class="main-content space-around">
        <h1 class="display-4">Hi,</h1>
        <p>I am a fresh graduate software engineer with a passion for game development and a strong foundation in
          programming.
          I am very excited to start a career in game development and be a part of a team that creates unique
          experiences. Throughout my life, playing video games has been a great source of joy for me. Looking ahead, I
          am confident that I will find that same level of enjoyment in the process of developing games, with the belief
          that others will enjoy experiencing the games I create.</p>
        <div class="social-links">
          <a href="https://github.com/berkeparildar" target="_blank" class="btn btn-social btn-github">
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a href="https://www.linkedin.com/in/berke-parildar/" target="_blank" class="btn btn-social btn-linkedin">
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
          <a href="assets/cv.pdf" download="cv.pdf" class="btn btn-social btn-cv">
            <i class="fas fa-download"></i>
            CV
          </a>
        </div>
      </div>
    </div>
  </div>
</div>