<div class="container my-5">
  <div class="row">
    <div class="my-main">
      <div class="main-content space-around">
        <h1 class="display-4">Hi,</h1>
        <p>Results-driven software engineer with a strong foundation in programming. Excited to launch a fulfilling
          career in software development, I am eager to showcase my dedication and drive in contributing to impactful
          projects. Skilled in C#, Java and object-oriented programming principles, with an innovative and creative
          mindset. I have loved creating and developing software throughout my time in school, and I am thrilled to
          start working professionally. I am excited to apply my skills to real-world projects and continue learning and
          growing in a professional setting.</p>
        <div class="social-links">
          <a href="https://github.com/berkeparildar" target="_blank" class="btn btn-social btn-github">
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a href="https://www.linkedin.com/in/berke-parildar/" target="_blank" class="btn btn-social btn-linkedin">
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
          <!-- <a (click)="openCvModal()" class="btn btn-social btn-cv">
            <i class="fas fa-eye"></i>
            CV
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>