.container {
	padding: 10px;
  }
  
  .project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-items: center;
  }
  h1 {
	color: #cba6f7;
	text-align: center;
	padding: 5px;
  }
  
  body::-webkit-scrollbar {
	background-color: rebeccapurple;
	width: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #cba6f7;
  }
  
  body::-webkit-scrollbar-track {
	background-color: #f0f0f0;
  }
  
  /* Optional: Add rounded corners to the scrollbar thumb */
  body::-webkit-scrollbar-thumb:vertical {
	border-radius: 8px;
  }
  
  /* Optional: Add a shadow to the scrollbar track */
  body::-webkit-scrollbar-track:vertical {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }