* {
    font-family: 'Quicksand', sans-serif;
}

canvas {
    background-color: #11111b;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.custom-modal {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background with 50% opacity */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

  /* styles.css or project-view.component.css */
.mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent !important;
}

::-webkit-scrollbar {
    background-color: #1e1e2e;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(243, 139, 168, 0.2);
    border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(243, 139, 168, 0.8);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(243, 139, 168, 1);
  border-radius: 16px;
}
  