* {
    font-family: 'Quicksand', sans-serif;
}

canvas {
    background-color: #11111b;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.custom-modal {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background with 50% opacity */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

  /* styles.css or project-view.component.css */
.mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent !important;
}

  